In [8]:
pip install pandas

Requirement already satisfied: pandas in c:\users\jacob\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jacob\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jacob\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jacob\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\jacob\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\jacob\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install numpy

Requirement already satisfied: numpy in c:\users\jacob\appdata\local\programs\python\python311\lib\site-packages (1.25.1)Note: you may need to restart the kernel to use updated packages.

# Mi primer cuaderno de Jupyter

In [ ]:
print("Hola mundo")

## Input

In [7]:
num=int(input("Ingresa un numero"))
print(num)

23

## Indexacion

In [8]:
fruta = 'banana'
letra = fruta[1]
print(letra)

a
py
thon

## Slice

In [ ]:
cadena = 'python'
print(cadena[0:2])
print(cadena[2:6])

## Cadenas

In [9]:
cadena = 'banana'
palabra = cadena.upper()
print(palabra)

palabra = cadena.lower()
print(palabra)

indice = cadena.find('a')
print(indice)

'a' in 'banana'

BANANA
banana
1

True

## Ingresa un numero

In [ ]:
#IF
x = 8
if x > 5:
  print("Positivo")
else:
  print("Negativo")
#Try/Except
try:
  fahrenheit = float(inp)
  celsius = ((fahrenheit - 32.0)* 5.0 / 9.0)
  print(celsius)
except:
  print("Ingresa un numero")
#While
n = 5
while n>0:
  print(n)
  n=n-1
print("Boom!")
#For
alumnos = ['Ana', 'Luis', 'Andy']
for alumno in alumnos:
  print(f"Hola, {alumno}, bienvenido al curso!")
print("Continuemos")

## Funciones

In [ ]:
def imprimir_letras():
  print("But i'm in so deep")
  print("You know I'm such a fool for you" )
imprimir_letras()
def imprimir_doble(dato):
  print(dato*2)
imprimir_doble(int(input("Ingresa un numero")))
def adicion(a, b):
  suma = a + b
  return suma
adicion(15, 32)

max(12, 193)
min(3, 383)
int(23.84)
float(54)

## Manipulacion de archivos

In [ ]:
archivo = open("texto.txt", "r")
contenido = archivo.read()
print(contenido)

In [ ]:
archivo = open("nuevo.txt", "w")
archivo.write("Programa de desarrollo de talentos 2023")
archivo.close()

In [ ]:
with open("nuevo.txt", "r") as archivo:
  contenido = archivo.read()
  print(contenido)

## Clases y objetos

In [ ]:
class Perro:
  def __init__(self, nombre, edad, raza):
    self.nombre = nombre
    self.edad = edad
    self.raza = raza
  def ladrar(self):
    return f"{self.nombre}: guau guau"
  def saludar(self):
    return f"{self.nombre}: Hola, tengo {self.edad} años y soy de raza {self.raza}"

perrito = Perro("Loki", 2, "Pug")
perro1 = Perro("Buddy", 3, "Labrador")
perro2 = Perro("Rocky", 2, "Bulldog")

print(perrito.ladrar())
print(perrito.saludar())

## Numpy

In [ ]:
import numpy as np
iarr = np.array([1, 2, 3], dtype='s')

In [4]:
import numpy as np

## pandas

In [2]:
import pandas as pd

In [5]:
a = np.array([1, 2, 3])
srs = pd.Series(a)
print(srs)

0    1
1    2
2    3
dtype: int32

## CSV

In [ ]:
df = pd.read_csv("../curso Python 3/Perfil de estudiante.csv")
df

In [ ]:
df.head()

In [ ]:
df.tail()

## JSON

In [15]:
df = pd.read_json("dataset.json")
print(df.to_string())

                                                 personas
0      {'nombre': 'Juan', 'edad': 25, 'ciudad': 'Madrid'}
1  {'nombre': 'María', 'edad': 30, 'ciudad': 'Barcelona'}
2   {'nombre': 'Pedro', 'edad': 35, 'ciudad': 'Valencia'}

## Limpieza de datos

In [17]:
data = {

    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],

    'Edad': [25, 32, None, 42, 28],

    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020'],

    'Género': ['M', 'F', None, 'F', 'M'],

    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona'],

    'Altura': [175, 163, 180, 158, 170],

    'Peso': [70, None, 80, 60, 75],

    'Ingresos': [50000, 60000, 40000, None, 55000]

}

In [34]:
df = pd.DataFrame(data)
print(df)

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1  María  32.0  31/01/2020      F       None     163   NaN   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [19]:
df_sin_vacios = df.dropna()
print(df_sin_vacios.to_string())

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [20]:
df.dropna(inplace= True)
print(df.to_string())

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [21]:
df

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

In [24]:
print(df.to_string())

  Nombre          Edad         Fecha        Género        Ciudad  Altura          Peso      Ingresos
0   Juan          25.0    31/01/2020             M        Madrid     175          70.0       50000.0
1  María          32.0    31/01/2020             F  Sin registro     163  Sin registro       60000.0
2  Pedro  Sin registro  Sin registro  Sin registro        Madrid     180          80.0       40000.0
3    Ana          42.0    31/01/2020             F      Valencia     158          60.0  Sin registro
4   Luis          28.0    01/31/2020             M     Barcelona     170          75.0       55000.0

In [31]:
df_relleno = df.fillna('Sin registro')
print(df_relleno.to_string())

  Nombre          Edad         Fecha        Género        Ciudad  Altura          Peso      Ingresos
0   Juan          25.0    31/01/2020             M        Madrid     175          70.0       50000.0
1  María          32.0    31/01/2020             F  Sin registro     163  Sin registro       60000.0
2  Pedro  Sin registro  Sin registro  Sin registro        Madrid     180          80.0       40000.0
3    Ana          42.0    31/01/2020             F      Valencia     158          60.0  Sin registro
4   Luis          28.0    01/31/2020             M     Barcelona     170          75.0       55000.0

In [32]:
df_cero = df['Ingresos'].fillna(0)
print(df_cero)

0         50000.0
1         60000.0
2         40000.0
3    Sin registro
4         55000.0
Name: Ingresos, dtype: object

In [35]:
media = df['Ingresos'].mean()
print(media)

51250.0

In [ ]:
df_media = df['Ingresos']